set-list {
  background-color: #d3d3d3;
}

song {
  display: block;
  padding: 10px;
  text-align: center;
}

title {
  font-style: italic;
  padding: 10px;
}

artist {
  font-weight: bold;
}

year {
  padding: 10px;
}
