set-list {
  background-color: #39cccc;
}

song {
  display: block;
  padding: 10px;
  text-align: center;
}

title {
  font-size: 20px;
  font-style: italic;
  padding: 10px;
}

artist {
  font-weight: bold;
}

genre {
  font-family: "Courier New", Courier, monospace;
}

year {
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
}
